@import url('https://fonts.googleapis.com/css?family=Overlock');

body{
  background: #f9f9f9;
  font-size: 20px;
  font-family: 'Overlock', cursive;
  margin-top: 20px;
  margin: 0px;
  padding: 0px;
}

#gal{
  background-color: red;
}
.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { 
  overflow: hidden; 
  height: 100%;
}
div#slider figure img { 
  width: 20%;
  height:500px; 
  float: left; 
}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'Bitter', serif;
}

.hero{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}



.hero-content{
  text-align: center;
}
.hero1-content{
  text-align: center;
}

.brand{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
  font-weight: 900;
}

strong{
  font-style: italic;
}

.gradient-mask-text{
  font-size: 20px;
  line-height: 1.4em;
  width: 60vw;
  margin: 0 auto;
  position: relative;
  background: transparent; 
  /*background: url("http://newevolutiondesigns.com/images/freebies/polygon-wallpaper-14.jpg");*/
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #61c2ff), color-stop(100%, #cd4444));
  background: -webkit-linear-gradient(-45deg, #61c2ff 0%, #cd4444 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  text-fill-color: transparent;
}

.gradient-mask-text:after, .gradient-mask-text:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    width: 252px;
    margin-left: -126px;
    height: 1px;
    background: #6bb6ee;
}

.gradient-mask-text:before {
    top: 0;
    background: #6bb6ee;
    background: -moz-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6bb6ee), color-stop(100%, #8a92b8));
    background: -webkit-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -o-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -ms-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: linear-gradient(135deg, #6bb6ee 0%, #8a92b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6bb6ee', endColorstr='#8a92b8',GradientType=1 );
}

.gradient-mask-text:after {
    bottom: 0;
    background: #9389aa;
    background: -moz-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #9389aa), color-stop(100%, #b5606d));
    background: -webkit-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -o-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -ms-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: linear-gradient(135deg, #9389aa 0%, #b5606d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9389aa', endColorstr='#b5606d',GradientType=1 );
}
footer{
  margin-top: 100px;
}
.aa{
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            padding-bottom:  100px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
          }
          ul .uu{
            list-style-type: none;
            color: #484848;
            font-family: fantasy;
            font-size: 5em;
            letter-spacing: 15px;
            animation: animate 1.5s linear infinite;
          }
          @keyframes animate {
            0%{
          color: #fff;
          text-shadow: none;
            }   
            90%{
          color: #fff900;
          text-shadow: none;
            }   
            100%{
          color: #ade257;
          text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
            }     
          }
          ul .uu:nth-child(1){
            animation-delay: 0.2s;
          }
          ul .uu:nth-child(2){
            animation-delay: 0.4s;
          }
          ul .uu:nth-child(3){
            animation-delay: 0.6s;
          }
          ul .uu:nth-child(4){
            animation-delay: 0.8s;
          }
          ul .uu:nth-child(5){
            animation-delay: 1.0s;
          }
          ul .uu:nth-child(6){
            animation-delay: 1.2s;
          }
          ul .uu:nth-child(7){
            animation-delay: 1.4s;
          }
          ul .uu:nth-child(8){
            animation-delay: 1.6s;
          }
          ul .uu:nth-child(9){
            animation-delay: 1.8s;
          }
          ul .uu:nth-child(10){
            animation-delay: 2.0s;
          }